.git
.gitignore
.idea
.vscode
**/.angular
**/dist
**/node_modules
**/target
**/coverage
**/*.log
.env
.env.*
!.env.example
.secrets
secrets
**/credentials*.json
**/secrets*.json
**/client_secret*.json
**/service-account*.json
**/service_account*.json
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
**/.npmrc
**/.m2
